<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taikang.dataVis.mapper.ComputerRoomTemperatureMapper">
  <resultMap id="BaseResultMap" type="com.taikang.dataVis.domain.ComputerRoomTemperature">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="types" jdbcType="VARCHAR" property="types"/>
    <result column="cold" jdbcType="VARCHAR" property="cold"/>
    <result column="precise" jdbcType="VARCHAR" property="precise"/>
    <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    <result column="computer_room_name" jdbcType="VARCHAR" property="computerRoomName"/>
  </resultMap>
  <sql id="Base_Column_List">
      id, types,cold, precise, create_time, update_time,computer_room_name
  </sql>

  <!--查询当前机房温度列表-->
  <select id="findCurrentAll" resultMap="BaseResultMap">
    select distinct create_time from tk_computer_room_temperature
    <where>
      <if test="createTime != null and createTime != ''">
        create_time LIKE concat('%', #{createTime}, '%')
      </if>
    </where>

  </select>
  <!--大屏-->
  <select id="findAllTemp" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
     from tk_computer_room_temperature where create_time = (select max(create_time) from tk_computer_room_temperature) 
     order by create_time,types desc 
  </select>
  <!--获取所有日期-->
  <select id="findAllDate" resultType="String">
    select distinct create_time from tk_computer_room_temperature
  </select>
  <!--创建时批量保存机房信息-->
  <insert id="BatchInsert" parameterType="java.util.List">
    insert into tk_computer_room_temperature (id, types,cold, precise, create_time,computer_room_name) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR},#{item.types,jdbcType=VARCHAR},#{item.cold,jdbcType=VARCHAR}
      ,#{item.precise,jdbcType=VARCHAR},#{item.createTime,jdbcType=VARCHAR},#{item.computerRoomName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="update" parameterType="ComputerRoomTemperature">
    update tk_computer_room_temperature
    <set>
      <if test="null != cold">cold = #{cold},</if>
      <if test="null != precise">precise = #{precise},</if>
      <if test="null != updateTime">update_time = #{updateTime}</if>
    </set>
    where id = #{id}
  </update>
  <!--根据创建时间获取列表-->
  <select id="findByCreateTime" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from tk_computer_room_temperature where create_time = #{createTime}
  </select>

  <delete id="delete" parameterType="java.util.Map">
    delete from tk_computer_room_temperature where create_time = #{createTime}
  </delete>
</mapper>